table
{
border-collapse: collapse;
width: 150px;
}
td,th
{
    border: 2px solid #000000;
    text-align: left;
    padding:5px;
}
.last
{
    background-color:blue;
}
.head
{
    background-color:gray;
}
.first
{
    background-color:orangered;
}
.second
{
    background-color:green;
} 
*{

} 